body{
    font-size: 17px;
}


form{
    margin: auto  !important;
    width: 100%;
}

 input{
    padding: 10px ;
    margin: 0 !important;
}

input:focus{
    outline: none;
 
}

table{
    width: 100% !important;
}

.top-buffer{
    display: flex;
    justify-content: end;
    width: 100%;
}

.first-container{
    font-size: 16px;
}

.first-container input{
    border: none;
    border-bottom: 1px dotted #000;
}

#main{
    display: flex;
    justify-content: center;
}



/* Signatue Pad Syles */
.sub-form-container {
    font-size: 16px;
}

.sub-form-container input{
    border: none;
    border-bottom: 1px dotted #000;
}


/* .sg-pad-container{
    display: flex;
    justify-content: flex-end;
    text-align: center;
} */

/* .flex-row {
    display: flex;
    justify-content: flex-end;
} */
.wrapper {
    border: 1px solid #4b00ff;
    
}

canvas#signature-pad {
    background: #fff;
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

.sg-pad-text{
    font-size: 16px;
    font-weight: bold;
}

.user_email{
    display: flex;
    align-items: center;
}

.user_email_container .user-email-text{
    font-weight: bold !important;
}

a#clear {

    background: #4b00ff;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0px;
    border: none;
    width: 40%;
    text-align: center;
    float: right;

}

.rules-1{
    filter: blur(0px);
    transform: scale(0.89);
    text-align: left;
    font-size: 17px;
    }
    
.rules-2{
    filter: blur(0px);
    transform: scale(0.89);
    text-align: left;
    font-size: 17px;
}

.confirm-sign-btn{
      /* width: 100% !important; */
      background: #4b00ff;
      border: 1px solid transparent;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
      border-radius: 0px;
      /* margin: auto; */
      /* text-align: center; */
      width: 40%;
      text-align: center;
}

/* Media Query */
@media screen and (max-width: 600px) {
body{
    font-size: 14px;
}

.sub-form-container {
    font-size: 14px;
}

.first-container{
    font-size: 14px;
}

.sg-pad-text{
    font-size: 14px;
    font-weight: bold;
}


.rules-1{
font-size: 14px;
}

.rules-2{
font-size: 14px;
}

}