body{
font-size: 17px;
}


form{
    margin: auto  !important;
    width: 100%;
}

 input{
    padding: 10px ;
    margin: 0 !important;
}

input:focus{
    outline: none;
 
}

table{
    width: 100% !important;
}

.top-buffer{
    display: flex;
    justify-content: end;
    width: 100%;
}

#main{
    display: flex;
    justify-content: center;
}